body{
    background: linear-gradient(transparent, #000000), url(../assets/getstarted-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.planets-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    section{
        background-color: #1d1b28c9;
        border-radius: 60px 60px 0px 0px;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        .planet-name{
            padding-top: 32px;
            font-size: 36pt;
            letter-spacing: 6px;
            font-weight: 700;
            text-shadow: 3px 3px 0px #9898ff9a;
            
        }
        
        .planet-infos{
            padding: 24px 42px;
        }
        
        .planet-image{
            text-align: center;
            margin-top: 50px;

            
            img{
                width: 500px;
                display: inline-block; 
                animation: rotacao 200s linear infinite; 
                margin-bottom: 600px;
            }
        }
    }

    @keyframes rotacao {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}


